
.ipynb_checkpoints/stats_601_project-checkpoint.ipynb
__pycache__/critic.cpython-38.pyc
__pycache__/hyperparam.cpython-38.pyc
__pycache__/critic.cpython-38.pyc
__pycache__/critic.cpython-38.pyc
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/stats601-project.iml
.idea/vcs.xml
